<!DOCTYPE html>
<html lang="en" ng-app="cartModule">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
	<meta app="page" content="cart">

	<title>Lucius KeyStore | Carrinho</title>

	<!-- Loading third party fonts -->
	<link href="http://fonts.googleapis.com/css?family=Roboto:400,700|" rel="stylesheet" type="text/css">
	<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="fonts/lineo-icon/style.css" rel="stylesheet" type="text/css">

	<!-- Loading main css file -->
	<link rel="stylesheet" href="style.css">

	<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

</head>

<body ng-controller="cartController">


	<div id="app.page" content="cart"></div>

	<div id="site-content">
		<div class="site-header">
			<div class="container">
				<a href="index.html" id="branding">
					<img src="images/logo.png" alt="" class="logo">
					<div class="logo-text">
						<h1 class="site-title">Lucius KeyStore</h1>
						<small class="site-description">A sua loja de jogos!</small>
					</div>
				</a>

				<div class="right-section pull-right">
					<a href="cart.html" class="cart">
						<i class="icon-cart"></i>Itens no carrinho</a>
						<a href="shopping.html" class="cart" id="header" ng-if="isLogged()">
							Minhas compras
						</a>
					<a href="index.html" onclick="session.logout()">Logout
						<small>
							<span id="logout.email"></span>
						</small>
					</a>
				</div>
			</div>
		</div>
		<main class="main-content">
			<div class="container">
				<div class="page">

					<table class="cart">
						<thead>
							<tr>
								<th class="product-name">Nome do Produto</th>
								<th class="product-price">Preço</th>
								<th class="product-qty">Quantidade</th>
								<th class="product-total">Total</th>
								<th class="action"></th>
							</tr>
						</thead>
						<tbody id="product-list">
						</tbody>
					</table>
					<div class="cart-total">
						<center>
							<p class="total">
								<strong>Total</strong>
								<span class="num" id="basket.total"></span>
							</p>
							<p>
								<a href="index.html" class="button muted">Continuar Comprando</a>
								<a href="#" class="button login-button" ng-click="">Finalizar e Pagar</a>
							</p>
						</center>
					</div>
				</div>
			</div>
		</main>

		<div class="overlay"></div>

	<div class="auth-popup popup">
			<a href="#" class="close">
				<i class="fa fa-times"></i>
			</a>
			<div class="row">
				<div class="col-md-12">
					<h2 class="section-title">Finalizar Compras</h2>
					<form action="#">
						<input type="text" placeholder="Nome">
						<input type="text" placeholder="Número do Cartão">
						<input type="text" placeholder="Mês">
						<input type="text" placeholder="Ano">
						<input type="text" placeholder="CVV">
						<input type="button" value="Finalizar" ng-click="finish();">
					</form>
				</div>
			</div>
		</div>

		<div class="site-footer">
			<center>
				<div class="copy">Copyright 2018 Game Store. Todos os direitos reservados.</div>
			</center>
		</div>

		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controller/cart-controller.js"></script>
		<script src="js/min/toastr.min.js"></script>

</body>

</html>